.testimonial_div{
    width: 50%;
    padding: 10px;
    display: flex;
    /* border: 2px solid red; */
}
.testimonial_wrapper{
    display: flex!important;
    width: 50%;
    /* border: 2px solid red; */
    flex-direction: row;
}


@media screen and (max-width:900px) {
    .testimonial_wrapper{
        display: block!important;
        width: 100%;
    }
    .testimonial_div{
        width: 100%;
        padding: 10px;
        display: block;
    }
    
}