.view_more_btn {
    background-color: #4A1E75;
    color: white;
    width: 200px;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}
.view_more_btn:hover {
    background-color: white;
    border: 1px solid #4A1E75;
    color: #4A1E75;
}